# Maven #
servlet_project/.idea/
# IDEA #
.idea/
servlet_01/*.iml
servlet_01/target/
servlet_02/target/
servlet_02/*.iml
servlet_02_01/target/
servlet_02_01/*.iml
servlet_02_02/target/
servlet_02_02/*.iml
servlet_02_03/target/
servlet_02_03/*.iml
# Eclipse #
.settings/
.metadata/
.classpath
.project
Servers/